<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="" method="POST">
            User Name: <input type="text" name="fname"> <br>
            Password: <input type= "text" name="password"> <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>