<html>
    <head>
        <meta charset="UTF-8">
        <title>Genie Recipes</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
    <!-- Header Section Begin -->
    <header class="header-section-other">
        <div class="container-fluid">
            <div class="logo">
                <a href="/"><img src="img/little_logo.jpg" alt=""></a>
            </div>
            <div class="nav-menu">
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="/add">Add New Recipes</a></li>
                                <li><a href="/search">Search</a></li>
                                <li><a href="/recipes">Recipe</a></li>
                            </ul>
                        </li>
                        <li><a href="/recipes">Recipes</a></li>
                        <li><a href="/add">Add New Recipes</a></li>
                    </ul>
                </nav>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    
    <!-- Hero Search Section Begin -->
    <div class="hero-search set-bg" data-setbg="img/search-bg.jpg">
        <div class="container">
            <div class="filter-table">
                <form action="/search" class="filter-search" method="GET">
                    <input type="text" name="rname" placeholder="Search recipe">
                    <input type="text" name="squery" placeholder="Tags">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Hero Search Section End -->
    <section class="single-page-recipe spad">
        <div class="recipe-top">
            <div class="container-fluid">
                <div class="recipe-title">
                    <h2><%=recipe.rname %></h2>
                    <ul class="tags">
                        <li>Tags</li>
                    </ul>
                </div>
                <img src=<%= recipe.img %> alt="">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="recipe-right">
                <div class="recipe-desc">
                    <h3>Description</h3>
                    <p><%= recipe.desc %></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
    </body>
</html>